*{
    margin: 0;
    padding: 0;
}

.card-title 
{
    text-align: center;
    margin: 2rem;
    font-family: bold;
    font-size: 30px;
}   

.card{
    margin: 2rem;
}
.navbar-nav{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}


.container-fluid{
    background-color: rgb(173, 169, 164);
}
.container-fluid .col-md-4 h2{
    font-family:Arial, Helvetica, sans-serif;
}
   